.img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;



}

.DescriptionBlock{
    padding: 10px;
}

.userPhoto {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    margin-left: 400px;
    margin-top: -80px;
    border: 5px solid white;
}

